In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')

In [3]:
dataset.head(3)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0

In [4]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Area Code,60943.0,134.265576,72.605709,4.0,74.0,136.00,195.00,276.0
Item Code,60943.0,2687.176706,146.055739,2501.0,2562.0,2630.00,2775.00,2961.0
Element Code,60943.0,3814.856456,2212.007033,511.0,684.0,5142.00,5511.00,5911.0
Y2014,59354.0,134.196282,1567.663696,-1796.0,0.0,0.09,8.34,176405.0
Y2015,59395.0,135.235966,1603.403984,-3161.0,0.0,0.08,8.46,181137.0
Y2016,59408.0,136.555222,1640.007194,-3225.0,0.0,0.08,8.43,185960.0
Y2017,59437.0,140.917765,1671.862359,-1582.0,0.0,0.10,9.00,190873.0
Y2018,59507.0,143.758381,1710.782658,-3396.0,0.0,0.07,9.00,195875.0

In [5]:
#Number of Null values across Dataset
dataset.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
dataset.shape

(60943, 12)

#### What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [7]:
dataset.groupby("Item").sum().loc["Animal fats"].drop(["Area Code","Item Code","Element Code"]).loc[["Y2014","Y2017"]]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

#### What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [8]:
dataset["Y2015"].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

#### What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [9]:
dataset["Y2016"].isna().sum()

1535

In [10]:
((dataset["Y2016"].isna().sum())/(dataset.shape[0]) )* 100

2.5187470259094566

#### Which year had the highest correlation with ‘Element Code’?

In [11]:
dataset.corr().loc["Element Code"].sort_values(ascending=False).drop(["Area Code","Item Code","Element Code"])

Y2014    0.024457
Y2018    0.024279
Y2017    0.024254
Y2015    0.023889
Y2016    0.023444
Name: Element Code, dtype: float64

#### What year has the highest sum of Import Quantity?

In [12]:
dataset.groupby("Element").sum().loc["Import Quantity"].sort_values(ascending=False).drop(["Area Code","Item Code","Element Code"])

Y2017    294559.09
Y2018    287997.09
Y2016    286582.78
Y2014    274144.48
Y2015    267018.46
Name: Import Quantity, dtype: float64

#### What is the total number of the sum of Production in 2014?

In [13]:
dataset.groupby("Element").sum().loc["Production"].drop(["Area Code","Item Code","Element Code"]).sort_values(ascending=True).loc["Y2014"]

1931287.7500000005

#### Which of these elements had the highest sum in 2018?

In [14]:
dataset.groupby("Element").sum()["Y2018"].sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

#### Which of these elements had the 3rd lowest sum in 2018?

In [15]:
dataset.groupby("Element").sum()["Y2018"].sort_values(ascending=True)[:3]

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

#### What is the total Import Quantity in Algeria in 2018?

In [16]:
dataset[dataset["Area"]=="Algeria"].groupby("Element").sum()["Y2018"]["Import Quantity"]

36238.29

#### What is the total number of unique countries in the dataset?

In [17]:
dataset.Area.unique().shape

(49,)